<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IoTHubConnectionString" value="HostName=iothub-0578dc10.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=TnRvbtHGinfxvaxRiBN85e0Y3+6rDA5nVlq+tT0Ok7w="/>
    <add key="EHHubConnectionString" value="Endpoint=sb://crsliot-eventhub-qa.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Nln0sl1Q3NgpnecM0WvXtBVhpLI4oieU9BdvSIuNNgY=;EntityPath=actions-eventhub"/>
    <add key="EHName" value="actions-eventhub"/>
    <add key="tenant" value="swami"/>
  </appSettings>
</configuration>