/.vs/remote-monitoring/v15/Server/sqlite3/storage.ide-wal
/.vs/remote-monitoring/v15/Server/sqlite3/storage.ide-shm
/.vs/remote-monitoring/v15/Server/sqlite3/storage.ide
/.vs/remote-monitoring/v15/Server/sqlite3/db.lock
/.vs/remote-monitoring/v15/Server/sqlite3
/.vs/remote-monitoring/v15/.suo
