################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/remote-monitoring/v15/Server/sqlite3/storage.ide-wal
/.vs/remote-monitoring/v15/Server/sqlite3/storage.ide-shm
/.vs/remote-monitoring/v15/Server/sqlite3/storage.ide
/.vs/remote-monitoring/v15/Server/sqlite3/db.lock
/.vs/remote-monitoring/v15/Server/sqlite3
/.vs/remote-monitoring/v15/.suo
/.vs/remote-monitoring/v15
**/launchSettings.json
./.vs
.vs/
**/.DS_Store
**/.vscode/
.idea/
webui/package-lock.json
!.vscode
**/lcov.info
identity-gateway/.vscode/launch.json
identity-gateway/.vscode/tasks.json
tenant-manager/.vscode/launch.json
tenant-manager/.vscode/tasks.json
tenant-manager/WebService/appsettings.ini
